<% form_for @preference, url: admin_preference_path(@preference) do |f| %>

<%= f.label :allow_create_artists %><br>
    <p>True: <%= f.radio_button :allow_create_artists, true %></p>
    <p>False: <%= f.radio_button :allow_create_artists, false %></p>

<%= f.label :allow_create_songs %><br>
    <p>True: <%= f.radio_button :allow_create_songs, true %></p>
    <p>False: <%= f.radio_button :allow_create_songs, false %></p>

<%= f.label :song_sort_order %>:<br>
    <p>DESC: <%= f.radio_button :song_sort_order, "DESC" %></p>
    <p>ASC: <%= f.radio_button :song_sort_order, "ASC" %></p>
    
<%= f.label :artist_sort_order %>:<br>
    <p>DESC: <%= f.radio_button :artist_sort_order, "DESC" %></p>
    <p>ASC: <%= f.radio_button :artist_sort_order, "ASC" %></p>

<%= f.submit %>

<% end %>   